<!DOCTYPE html>
<html>
  <head>
    <title>
      Linguagens Formais e Compiladores
    </title>
    <link href="{{ url_for('static',filename='css/estilo.css') }}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Lingugens Formais e Compiladores</h1>
    </header>
    <section>
      <div id="editar">
        {% if tipo == "AF" %}
        <form method="post">
          Nome do Autômato: <input type="text" name="nome-automato" value="{{ nomeAutomato }}" required />
          <br />
          <br />
          Edição do Autômato
          <br />
          <textarea name="texto-automato">{{ textoAutomato }}</textarea>
          <br />
          <input type="submit" name="editar-automato" value="Confirmar" class="btn" />
          <a href="/" class="lk">Página Inicial</a>
        </form>
        {% if tipoErro == "AF" %}
          <script type="text/javascript">
            let y = document.getElementById("nome-automato")
            let z = document.getElementById("texto-automato")
            x.style.display = "block"
            y.value = `{{ nomeExpressao|safe }}`
            z.value = `{{ textoExpressao|safe }}`
          </script>
          <br />
          <div class="erro">
            Erro: {{ msg }}
            <br />
            {% if linha > 0 %}
              Linha {{ linha }}: {{ textoLinha }}
            {% endif %}
          </div>
        {% endif %}
        {% elif tipo == "GR" %}
        <form method="post">
          Nome da Gramática: <input type="text" name="nome-gramatica" value="{{ nomeGramatica }}" required />
          <br />
          <br />
          Edição da Gramática
          <br />
          <textarea name="texto-gramatica">{{ textoGramatica }}</textarea>
          <br />
          <input type="submit" name="editar-gramatica" value="Confirmar" class="btn" />
          <a href="/" class="lk">Página Inicial</a>
        </form>
        {% if tipoErro == "GR" %}
          <script type="text/javascript">
            let x = document.getElementById("fazer-gramatica")
            let y = document.getElementById("nome-gramatica")
            let z = document.getElementById("texto-gramatica")
            x.style.display = "block"
            y.value = `{{ nomeGramatica|safe }}`
            z.value = `{{ textoGramatica|safe }}`
          </script>
          <br />
          <div class="erro">
            Erro: {{ msg }}
            <br />
            {% if linha > 0 %}
              Linha {{ linha }}: {{ textoLinha }}
            {% endif %}
          </div>
        {% endif %}
        {% elif tipo == "ER" %}
        <form method="post">
          Nome da Expressão: <input type="text" name="nome-expressao" value="{{ nomeExpressao }}" required />
          <br />
          <br />
          Edição da Expressão
          <br />
          <textarea name="texto-expressao">{{ textoExpressao }}</textarea>
          <br />
          <input type="submit" name="editar-expressao" value="Confirmar" class="btn" />
          <a href="/" class="lk">Página Inicial</a>
        </form>
        {% if tipoErro == "ER" %}
          <script type="text/javascript">
            let x = document.getElementById("fazer-expressao")
            let y = document.getElementById("nome-expressao")
            let z = document.getElementById("texto-expressao")
            x.style.display = "block"
            y.value = `{{ nomeExpressao|safe }}`
            z.value = `{{ textoExpressao|safe }}`
          </script>
          <br />
          <div class="erro">
            Erro: {{ msg }}
          </div>
        {% endif %}
        {% endif %}
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
