<!DOCTYPE html>
<html>
  <head>
    <title>
      Linguagens Formais e Compiladores
    </title>
    <link href="{{ url_for('static',filename='css/estilo.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>Lingugens Formais e Compiladores</h1>
    </header>
    <section>
      <div id="painel-esquerda">
        <strong>Abrir arquivo:</strong>
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="arquivo" required />
          <input type="submit" name="abrir" value="Abrir" class="btn" />
        </form>
        <div id="caixas">
          <div id="lista-itens" class="caixa">
            <div class="titulo">
              Lista de Itens
            </div>
            <div class="conteudo">
              {% if itens|length > 0 %}
                {% for l in itens %}
                  <div class="menu-lateral">
                    <a href="/editar?pos={{ l.2 }}&tipo={{ l.1 }}" class="link-editar">{{ l.0 }}: {{ l.1 }}</a>
                    <!-- class="btn" -->
                    <div class="conteudo-menu">
                      <a href="/exibir?pos={{ l.2 }}&tipo={{ l.1 }}">Exibir</a>
                      <a href="/download?pos={{ l.2 }}">Salvar</a>
                      {% if l.1 == "AF" %}
                        <a href="/min?pos={{ l.2 }}">Minimizar</a>
                        <a href="/det?pos={{ l.2 }}">Determinizar</a>
                        <!-- /avaliacao?pos={{ l.2 }} -->
                        <a href="#reconhecimento-sentenca" onclick="posItem({{ l.2 }})">Avaliar Sentença</a>
                      {% endif %}
                      {% if l.1 == "AF" %}
                        <a href="/converter?pos={{ l.2 }}&tipoConversao=AFGR">Converter em GR</a>
                      {% elif l.1 == "GR" or l.1 == "ER" %}
                        <a href="/converter?pos={{ l.2 }}&tipoConversao={{ l.1 }}AF">Converter em AF</a>
                      {% endif %}
                    </div>
                  </div>
                  <br />
                {% endfor %}
              {% else %}
                Lista vazia.
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div id="painel-centro">
        <nav>
          <input type="button" value="Autômato Finito" class="btn" onclick="novoAF()" />
          <input type="button" value="Gramática Regular" class="btn" onclick="novaGR()" />
          <input type="button" value="Expressao Regular" class="btn" onclick="novaER()" />
          <input type="button" value="União de Autômatos" class="btn" onclick="uniaoAF()" />
          <input type="button" value="Intersecção de Autômatos" class="btn" onclick="interseccaoAF()" />
        </nav>
        <div id="fazer-automato" class="forms-inicio">
          <h1>Novo Autômato</h1>
          <br />
          <form method="post">
            Nome do Autômato: <input id="nome-automato" type="text" name="nome-automato" required />
            <br />
            <br />
            Edição do Autômato
            <br />
            <!-- onkeypress="return numeroLinha('texto-automato')" -->
            <textarea id="texto-automato" name="texto-automato" required></textarea>
            <br />
            <input type="submit" name="criar-automato" value="Confirmar" class="btn" />
          </form>
          {% if tipoErro == "AF" %}
            <script type="text/javascript">
              let x = document.getElementById("fazer-automato")
              let y = document.getElementById("nome-automato")
              let z = document.getElementById("texto-automato")
              x.style.display = "block"
              y.value = `{{ nomeAutomato|safe }}`
              z.value = `{{ textoAutomato|safe }}`
            </script>
            <div class="erro">
              Erro: {{ msg }}
              <br />
              {% if linha > 0 %}
                Linha {{ linha }}: {{ textoLinha }}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div id="fazer-gramatica" class="forms-inicio">
          <h1>Nova Gramática</h1>
          <br />
          <form method="post">
            Nome da Gramática: <input id="nome-gramatica" type="text" name="nome-gramatica" required />
            <br />
            <br />
            Edição da Gramática
            <br />
            <textarea id="texto-gramatica" name="texto-gramatica" required></textarea>
            <br />
            <input type="submit" name="criar-gramatica" value="Confirmar" class="btn" />
          </form>
          {% if tipoErro == "GR" %}
            <script type="text/javascript">
              let x = document.getElementById("fazer-gramatica")
              let y = document.getElementById("nome-gramatica")
              let z = document.getElementById("texto-gramatica")
              x.style.display = "block"
              y.value = `{{ nomeGramatica|safe }}`
              z.value = `{{ textoGramatica|safe }}`
            </script>
            <div class="erro">
              Erro: {{ msg }}
              <br />
              {% if linha > 0 %}
                Linha {{ linha }}: {{ textoLinha }}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div id="fazer-expressao" class="forms-inicio">
          <h1>Nova Expressão Regular</h1>
          <br />
          <form method="post">
            Nome da Expressão: <input id="nome-expressao" type="text" name="nome-expressao" required />
            <br />
            <br />
            Edição da Expressão
            <br />
            <textarea id="texto-expressao" name="texto-expressao" required></textarea>
            <br />
            <input type="submit" name="criar-expressao" value="Confirmar" class="btn" />
          </form>
          {% if tipoErro == "ER" %}
            <script type="text/javascript">
              let x = document.getElementById("fazer-expressao")
              let y = document.getElementById("nome-expressao")
              let z = document.getElementById("texto-expressao")
              x.style.display = "block"
              y.value = `{{ nomeExpressao|safe }}`
              z.value = `{{ textoExpressao|safe }}`
            </script>
            <div class="erro">
              Erro: {{ msg }}
            </div>
          {% endif %}
        </div>
        <div id="uniao-automatos" class="uniao-interseccao forms-inicio">
          <h1>União de Autômatos</h1>
          <br />
          <form method="post">
            <select name="automato1" required>
              <option value="">
              </option>
              {% if itens|length > 0 %}
                {% for l in itens %}
                  {% if l.1 == "AF" %}
                  <option value="{{ l.2 }}">
                    {{ l.0 }}
                  </option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <span class="simbolo">∪</span>
            <select name="automato2" required>
              <option value="">
              </option>
              {% if itens|length > 0 %}
                {% for l in itens %}
                  {% if l.1 == "AF" %}
                  <option value="{{ l.2 }}">
                    {{ l.0 }}
                  </option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <br />
            <br />
            <input type="submit" name="uniao-automato" value="Confirmar" class="btn" />
          </form>
        </div>
        <div id="interseccao-automatos" class="uniao-interseccao forms-inicio">
          <h1>Intersecção de Autômatos</h1>
          <br />
          <form method="post">
            <select name="automato1" required>
              <option value="">
              </option>
              {% if itens|length > 0 %}
                {% for l in itens %}
                  {% if l.1 == "AF" %}
                  <option value="{{ l.2 }}">
                    {{ l.0 }}
                  </option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <span class="simbolo">∩</span>
            <select name="automato2" required>
              <option value="">
              </option>
              {% if itens|length > 0 %}
                {% for l in itens %}
                  {% if l.1 == "AF" %}
                  <option value="{{ l.2 }}">
                    {{ l.0 }}
                  </option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <br />
            <br />
            <input type="submit" name="interseccao-automato" value="Confirmar" class="btn" />
          </form>
        </div>
        <div id="reconhecimento-sentenca" class="msgbox">
          <div class="conteudo">
            <form method="post" id="form-sentenca" onsubmit="">
              Sentença: <input type="text" name="sentenca" required />
              <input type="submit" name="avaliar" value="Avaliar" class="btn" />
              <a href="#" title="Fechar" class="fechar-msgbox" onclick="limpaURL()">x</a>
            </form>
            <div id="resultado">
              <!-- O resultado da avaliação é exibido aqui. -->
              {% if res is defined %}
                {% if res %}
                  <div class="verde">
                    {{ palavra }}
                  </div>
                  A palavra é reconhecida pelo autômato.
                {% else %}
                  <div class="vermelho">
                    {{ palavra }}
                  </div>
                  A palavra não é reconhecida pelo autômato.
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
